# Python cache / build
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.eggs/
build/
dist/

# Virtual environments
.env
.venv
venv/
ENV/

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Telegram / Pyrogram / Telethon
*.session
*.session-journal

# Logs
*.log
unknown_errors.txt
